<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">
    <h1>To-Do List  <i class="fa fa-plus"></i></h1><input placeholder="Add New Todo" [(ngModel)]="item"><i class="fa fa-save save" (click)="onSave()"></i>
    <ul *ngFor="let item of items">
        <li *ngIf ="item.isCompleted"><span><i class="fa fa-trash" (click) = "onDel(item)"></i></span>{{item.name}}</li>
    </ul>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total tasks {{this.items.length}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Completed tasks {{this.count}}</h2>
</div>